{{ define "main" }}
<section class='photography-section page-section'>
  <div class='container'>
    <img src='/img/photography/lifestyle-3.jpg' class='photography-image vert' data-page="lifestyle" />
    <img src='/img/photography/lifestyle-5.jpg' class='photography-image vert' data-page="lifestyle" />
    <img src='/img/photography/lifestyle-2.jpg' class='photography-image' data-page="lifestyle" />
    <img src='/img/photography/lifestyle-4.jpg' class='photography-image' data-page="lifestyle" />

    <img src='/img/photography/portrait-1.jpg' class='photography-image' data-page="portraits" />
    <img src='/img/photography/portrait-2.jpg' class='photography-image' data-page="portraits" />
    <img src='/img/photography/portrait-3.jpg' class='photography-image' data-page="portraits" />
    <img src='/img/photography/portrait-4.jpg' class='photography-image' data-page="portraits" />
    <img src='/img/photography/portrait-5.jpg' class='photography-image' data-page="portraits" />

    <img src='/img/photography/movement-1.jpg' class='photography-image' data-page="movement" />
    <img src='/img/photography/movement-2.jpg' class='photography-image' data-page="movement" />
    <img src='/img/photography/movement-3.jpg' class='photography-image' data-page="movement" />
    <img src='/img/photography/movement-4.jpg' class='photography-image' data-page="movement" />
    <img src='/img/photography/movement-5.jpg' class='photography-image' data-page="movement" />

    <img src='/img/photography/occasions-1.jpg' class='photography-image vert' data-page="occasions" />
    <img src='/img/photography/occasions-2.jpg' class='photography-image' data-page="occasions" />
    <img src='/img/photography/occasions-3.jpg' class='photography-image' data-page="occasions" />
    <img src='/img/photography/occasions-4.jpg' class='photography-image' data-page="occasions" />
    <img src='/img/photography/occasions-5.jpg' class='photography-image' data-page="occasions" />
  </div>
</section>
<footer>
  <div class='social-links'>
    <a href='mailto:emma.rosenblatt@gmail.com' class='footer-icon'>
      <img src='/img/mail.svg' class='email ' alt='email' />
    </a>
    <a href='https://www.instagram.com/a.roseinbloom/' class='footer-icon'>
      <img src='/img/instagram.svg' class='instagram' alt='instagram' />
    </a>
  </div>
</footer>
{{ end }}