{{ define "main" }}
<section class='photography-section page-section'>
  <div class='container'>
    {{ range .Params.photos }}
    <img src='{{ .source }}' class='photography-image{{ with .class }} vert{{ end }}' data-page="{{ .category }}" />
    {{ end }}
  </div>
</section>
<footer>
  <div class='social-links'>
    <a href='mailto:emma.rosenblatt@gmail.com' class='footer-icon'>
      <img src='/img/mail.svg' class='email ' alt='email' />
    </a>
    <a href='https://www.instagram.com/a.roseinbloom/' class='footer-icon'>
      <img src='/img/instagram.svg' class='instagram' alt='instagram' />
    </a>
  </div>
</footer>
{{ end }}