// Grayscale
$black: #000;
// $gray-dark:  #E0E0DF;
$gray:  #ABABAA;
// $gray-medium: #787f87;
$gray-light:  #E9EBE5;
// $light: #f8fafc;
$white: #fff;

// brand
$yellow:       #FFF4C7;
$yellow-light: #FCF9EE;
$green:        #A5B096;
$green-light:  #E9EBE5;
$orange:       #EECEB5;
$orange-light: #F8ECE2;