// Grayscale
$black: #000;
// $gray-dark:  #E0E0DF;
$gray:  #E0E0DF;
// $gray-medium: #787f87;
// $gray-light:  #E0E0DF;
$light: #f8fafc;
$white: #fff;

// brand
$primary: #A5B096;
$primary-light: #EBEDE0;
$secondary: #ECDA8E;
$secondary-light: #ECDA8E;
$tertiary: #EECEB5;