/* 
  ------------------------------------------------------------------------------------------------------
  GLOBAL STYLES
  ------------------------------------------------------------------------------------------------------
*/

// mixins
@mixin border($color) {
  padding: 16px; 
  border: solid 5px $color; 
  border-radius: 4px;
  background-color: lighten($color, 30%);
}

@mixin form($color) {
  padding: 16px 0; 
  input, 
  textarea,
  button,
  select {
    width: 100%;
    border: 2px solid $color;
    border-radius: 4px;

    font-size: 20px;
    line-height: 1.33;
    font-family: $font-primary;
    font-weight: 300;

    padding: 8px;
    margin: 4px 0 16px;

    &:hover,
    &:focus {
      background-color: lighten($color, 30%);
    }
  }

  label {
    font-size: 20px;
    line-height: 1.33;
    font-family: $font-primary;
    font-weight: 400;
  }

  button {
    text-transform: uppercase;
    font-weight: 400;
  }

  input { height: 48px; }

  textarea {
    resize: none; 
    height: 224px;
  }
}

// $padding: 16px;
// $margin: 40px; 

.homepage, 
.photography-page,
.contact-page, 
.yoga-page {
  min-height: 100vh; 
}

// header ---------------------------------------------------------------------------
header {
  width: 100%;
  padding: 16px;

  

  .header-logo { width: 240px; }

  .page-tracker {
    width: auto;
  }

  h4 {
    text-transform: uppercase;
    font-weight: 300;
  }

  p {
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 0.25rem;
  }

  // @include bp(sm){
  //   padding: 32px; 
  // }

  @include bp(md){
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .header-logo { width: 360px; }
    .page-tracker { text-align: right; }

  }
}

// .menu-btn {
//   position: fixed;
//   top: 16px;
//   right: 16px;

//   @include bp(sm){ display: none; }
// }

.slide-in-menu {
  border-left: 1px solid $black;
  border-right: 1px solid $black;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 420px; 
  width: 100%; 
  height: 100%;

  z-index: 10;

  display: flex;
  flex-direction: column; 

  transition: transform 0.75s;

  &.closed {
    transform: translateX(100%);
  }


  // .menu-btn { position: relative; }
}

.top-menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  display: none; 
  padding: 16px;

  a { 
    display: inline-block; 
    font-size: 20px; 

    &:hover { font-weight: 400; }
  }

  a + a { margin-left: 32px; }

  .current { 
    border-bottom: 2px solid $black; 
    padding-bottom: 2px;
    font-weight: 400; 
  }

  @include bp(md){
    display: block; 
  }
}

.menu {
  &-btn {
    position: fixed;
    top: 16px;
    right: 16px;
    @include bp(md){ display: none; }
  }

  &-logo {
    height: auto; 
    width: 240px; 
  }

  &-header {
    padding: 16px 16px 20px; 
    // border-bottom: 1px solid $black;
  }
  
  &-body {
    flex: 1;
    padding-bottom: 16px;
    border-top: 1px solid $black;
    li a { text-align: right; }

    a {
      padding: 16px;
      border-bottom: 1px solid $black;
      width: 100%;

      &:hover { font-weight: 400; }
    }
  }

  &-footer {
    padding: 16px; 
    text-align: center;
  }
}

.page-section {
  padding: 40px 16px; 

  @include bp(sm){
    padding: 64px 64px;
  }

  @include bp(md){
    padding: 80px 64px; 
  }
}

// footer ------------------------------------------------------------------------------------

footer {
  bottom: 0;
  left: 0;
  width: 100%; 
  padding: 16px; 

  text-align: center;

  h3 {
    font-size: 32px; 
    font-weight: 500; 
    letter-spacing: 0.02em;
  }

  p {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  .footer-icon + .footer-icon { margin-left: 12px; }

  .social-links {
    text-align: left;
  }

  @include bp(sm){
    text-align: left; 
    // padding: 16px 32px; 
  }
}
