/* 
  ------------------------------------------------------------------------------------------------------
  GLOBAL STYLES
  ------------------------------------------------------------------------------------------------------
*/

// mixins -----------------------------------------
@mixin form($color) {
  input, 
  textarea,
  button,
  select {
    width: 100%;
    border: 2px solid $color;
    border-radius: 4px;
    background: $white;

    padding: $base-unit / 4;
    margin: $base-unit / 4;

    line-height: 1.33;
    font-family: $font-primary;
    font-size: $base-unit;
    font-weight: 300;
    color: $black;

    &::placeholder {
      line-height: 1.33;
      font-family: $font-primary;
      font-size: $base-unit;
      font-weight: 300;
      color: $black;
    }

    &:hover,
    &:focus {
      background-color: transparentize($color, 0.6);
    }
  }

  input,
  select {
    font-size: 10px; 
    line-height: 1.33;
    font-family: $font-primary;
    font-weight: 400;
    height: $base-unit * 3;
  }

  select {
    -webkit-appearance: none;
  }

  button {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
    height: $base-unit * 2.5;
  }

  textarea {
    resize: none; 
    height: 224px;
  }
}

.homepage, 
.photography-page,
.contact-page, 
.yoga-page {
  min-height: 100vh; 
}

body { scroll-behavior: smooth;}

// header ---------------------------------------------------------------------------
header {
  width: 100%;
  padding: $base-unit;

  .header-logo { width: 240px; }
  .page-tracker { width: auto; }

  h4 {
    text-transform: uppercase;
    font-weight: 300;
  }

  p {
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 0.25rem;
  }

  @include bp(md){
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .header-logo { width: 360px; }
    .page-tracker { text-align: right; }
  }
}

.menu-btn {
  z-index: 2;
}

.slide-in-menu {
  border: 1px solid $black;
  position: fixed;
  top: 0;
  right: 0;
  max-width: 420px; 
  width: 100%; 
  height: 100%;
  z-index: 50;

  display: flex;
  flex-direction: column; 
  transition: transform 0.75s;

  &.closed {
    transform: translateX(100%);
  }

  @include bp(md){ display: none; }
}

.top-menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;

  display: none; 
  padding: 16px;

  a { 
    display: inline-block; 
    height: max-content;
    font-weight: 300; 

    &:hover { font-weight: 400; }
    &.current { 
      border-bottom: 2px solid $black; 
      padding-bottom: 2px;
      font-weight: 400; 
      display: inline-block;
    }
  }

  & > * { margin-left: 24px; }

  @include bp(md){
    display: flex; 
  }
}

.dropdown-body {
  display: none;

  @include bp(md){
    li + li { margin-top: 4px; }
    border-radius: 2px;
  }
}

.dropdown-menu.open {
  .dropdown-btn { font-weight: 400; }

  @include bp(md){
    .dropdown-btn { margin-bottom: 8px; }
  }
}

.dropdown {
  &-body {
    display: none;
  }

  &-menu {

    &.open {
      .dropdown-btn {
        font-weight: 400;
      }
    }
  }
}

.menu {
  &-btn {
    position: fixed;
    top: 16px;
    right: 16px;
    @include bp(md){ display: none; }
  }

  &-logo {
    height: auto; 
    width: 240px; 
  }

  &-header {
    padding: 16px 16px 20px; 
  }
  
  &-body {
    flex: 1;
    padding-bottom: 16px;
    border-top: 1px solid $black;
    li a { text-align: right; }

    a {
      padding: 16px;
      border-bottom: 1px solid $black;
      width: 100%;

      &:hover { font-weight: 400; }
    }
  }

  &-footer {
    padding: 16px; 
    text-align: center;
  }
}

.page-section {
  padding: 40px 16px 56px; 
  position: relative;
  z-index: 2;

  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }

  a {
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  @include bp(sm){
    padding: {
      top: 48px;
      bottom: 56px;
      left: 48px;
      right: 48px;
    }
  }

  @include bp(md){
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      grid-gap: $base-unit * 6; 
      margin: auto;
      max-width: 1000px; 
    }

    .content { margin-bottom: 0; }
  }

  @include bp(lg){
    padding: 64px;
  }
}

.small-section {
  @include bp(md){

    .container {
      display: flex;
      flex-direction: column; 
      justify-content: flex-start;
      grid-gap: 32px;
    }

    h3 {
      font-size: $base-unit * 1.2;
    }
  }
}

.about-section {
  h4 { 
      margin-bottom: $base-unit / 4; 
      font-weight: 500;
    }

    h5 { 
      margin-bottom: $base-unit / 2; 
      font-weight: 400;
    }

    h6 {
      font-weight: 400;
      margin-bottom: $base-unit / 4; 
    }

    p { margin-bottom: $base-unit; }
}

.contact-section {
  .instagram-dt { display: none; }

  @include bp(md){
    .instagram-dt { display: block; }
    .instagram-mb { display: none; }
  }
}

.slides {
  top: 0;
  height: 400px;
  width: 240px;

  margin: {
    left: auto;
    right: auto;
    bottom: 24px; 
  }

  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s, box-shadow 0.5s;
    max-height: 500px;
    
    &:first-child {
      z-index: 1;
    }
  }

  &:hover img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  @include bp(md){
    height: 50vh;
    max-height: 700px;
    width: 75vw;
    max-width: 420px;
  }


  @include bp(lg){
    margin-top: $base-unit * 1.5; 
  }
}

// footer ------------------------------------------------------------------------------------

footer {
  
  padding: 16px; 
  z-index: 0;

  text-align: center;

  h3 {
    font-weight: 500; 
    letter-spacing: 0.02em;
  }

  p {
    font-weight: 300; 
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  .footer-icon + .footer-icon { margin-left: 12px; }

  .social-links {
    text-align: center;
    img { height: 24px; }
  }

  @include bp(md){
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
    text-align: left; 

    .social-links {
      text-align: left; 
    }
  }
}
