{{ define "main" }}
<section class="about-section page-section">
  <div class='container'>
    <div class='slides'>
    {{ range .Params.photos }}
      <img src='{{ . }}' class='slide' />
    {{ end }}
    </div>

    <div class="content">
      <div class='content-wrapper'>
        <div class='description'>
          {{ .Content }}
        </div>
        {{- $data := .Site.Data }}
        {{- $classes := $data.classes }}
        <div class="classes">
          <h5>{{ $classes.title }}</h5>
          {{ range $classes.classes }}
          <div class="class">
            <h6>{{ .title }}</h6>
            <p>{{ .details }}</p>
          </div>
          {{ end }}
          <a href='#contact-form' class='btn'>Book a Class Now!</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="reviews-section page-section small-section">
    <div class='container'>
      {{- $reviews := $data.reviews }}
      <h3>{{ $reviews.title }}</h3>
      <div class="reviews-wrapper">
        {{ range $reviews.reviews }}
        <div class='review'>
          <p class='review-text'>
            {{ .review }}
          </p>
          <p class='review-attribution'>
            {{ .author }}.{{ with .role }} <span>({{ . }})</span>{{ end }}
          </p>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <section class='contact-section page-section'>
    <div class='container'>
      <div class='instagram-dt'>
        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe
        src="https://cdn.lightwidget.com/widgets/d35c53fcbacb50f982f606e9c561b534.html" scrolling="no"
        allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
      </div>
      <div class='instagram-mb'>
        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe
        src="https://cdn.lightwidget.com/widgets/37c77cb851b356e0abd0e71dbc0cb8ac.html" scrolling="no"
        allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
      </div>

      <form name="yoga" method="POST" data-netlify="true" id='contact-form'>
        <input type="text" name="name" placeholder="Name: *" required />
        <input type="email" name="email" placeholder="Email: *" required />
        <select name="classes" id="classes" required>
          <option value="1o1">1-on-1</option>
          <option value="group">Group Sessions (1 to 8)</option>
          <option value="event">Event or Workshops</option>
        </select>
        <textarea name="message" placeholder="Message:"></textarea>
        <button type="submit">Send</button>
      </form>
    </div>
  </section>
{{ end }}