<title>{{pageTitle}}</title>

<!-- default meta tags -->
<meta charset="UTF-8">
<meta name="description" content="Emma Rosenblatt - LA-based Photographer & Yoga Instructor">
<meta name="keywords" content="photographer, yoga, los angeles, la, portraits, lifestyle, occasions">
<meta name="author" content="briana gude">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- twitter meta tags -->
<meta name="twitter:card" content="Emma Rosenblatt - LA-based Photographer & Yoga Instructor" />
<meta property="og:url" content="https://emmarosenblatt.com.com/" />
<meta property="og:title" content="A Rose in Bloom" />
<meta property="og:description" content="Emma Rosenblatt - LA-based Photographer & Yoga Instructor" />
<meta property="og:image" content="./img/rose.png" />

<!-- styles etc. -->
<link rel="stylesheet" href="./css/style.css">
<link rel="icon" type="image/png" sizes="32x32" href="./img/favicon-32x32.png">