<div class='slide-in-menu closed'>
  <div class='menu-header'>
    <img src='./img/logo.png' class='menu-logo' alt='menu-logo' />
    <button class='menu-close menu-btn'>
      <img src='./img/menu-open.svg' alt='menu-btn' />
    </button>
  </div>

  <div class='menu-body'>
    <div class='dropdown-menu'>
      <a href="#" class='dropdown-btn'>Photography</a>
      <ul class="dropdown-body">
        <li><a href="photography?page=portraits" class='link-portraits'>Portraits</a></li>
        <li><a href="photography?page=movement" class='link-movement'>Movement</a></li>
        <li><a href="photography?page=occasions" class='link-occasions'>Occasions</a></li>
        <li><a href="photography?page=lifestyle" class='link-lifestyle'>Lifestyle</a></li>
      </ul>
    </div>
    <a href="yoga">Yoga</a>
    <a href="contact">Contact</a>
  </div>

  <div class='menu-footer'>
    <h3>Emma Rosenblatt</h3>
    <p>Photographer & Yoga Instructor</p>
  </div>
</div>