<nav class='top-menu'>
  <a href="index">Home</a>
  <div class='dropdown-menu'>
    <a href="#" class='dropdown-btn'>Photography</a>
    <ul class="dropdown-body">
      <li><a href="photography?page=portraits" class='link-portraits'>Portraits</a></li>
      <li><a href="photography?page=movement" class='link-movement'>Movement</a></li>
      <li><a href="photography?page=occasions" class='link-occasions'>Occasions</a></li>
      <li><a href="photography?page=lifestyle" class='link-lifestyle'>Lifestyle</a></li>
    </ul>
  </div>
  <a href="yoga">Yoga</a>
  <a href="contact">Contact</a>
</nav>