// Grayscale
$black: #000;
// $gray-dark:  #E0E0DF;
$gray:  #ababaa;
// $gray-medium: #787f87;
$gray-light:  #e9ebe5;
// $light: #f8fafc;
$white: #fff;

// brand
$yellow:       #fff4c7;
$yellow-light: #fcf9ee;
$green:        #a5a096;
$green-light:  #e9ebe5;
$orange:       #eeceb5;
$orange-light: #f8ece2;