.contact-page {
  //  default color settings -----------------------------
  background-color: $green-light; 
  
  .slide-in-menu {
    background-color: $green-light; 
  }

  .menu-body {
    li { background-color: $green; }
  }

  form {
    @include form($green);

    @include bp(md){ // 170 84
      padding-top: 0; 
    }
  }

  .dropdown-body {
    background-color: $green;
  }

  .features-section {
    .container { min-height: 0; }

    @include bp(md){
      padding-top: 86px;
      // padding-bottom: 6px;
    }
  }

  .content {
    h4 { margin-bottom: 20px; }
    a { margin-top: 4px; }
  }

  .brands {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px; 
    align-items: center;
    justify-content: center;

    @include bp(sm){
      grid-template-columns: 1fr 1fr 1fr;
      .last-brand { grid-column: 1/-1; }
    }
  }

  // styling ------------------------------------------

  // .about-section {
  //   a:hover { color: $green; }
  // }
}


