.contact-page {
  //  default color settings -----------------------------
  background-color: $green-light; 
  
  .slide-in-menu {
    background-color: $green-light; 
  }

  .menu-body {
    li { background-color: $green; }
  }

  form {
    @include form($green);

    @include bp(md) { 
      padding-top: 0; 
    }
  }

  .dropdown-body {
    background-color: $green-light;
    border: $green;
  }

// styling ------------------------------------------

  .features-section {
    margin-top: 80px;
    .container { 
      min-height: 0; 
      max-width: 600px;
      
    }
  }

  .content {
    h4 { margin-bottom: 20px; }
    a { margin-top: 4px; }
  }

  .brands {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px; 
    align-items: center;
    justify-content: center;

    @include bp(sm){
      grid-template-columns: 1fr 1fr 1fr;

      img:last-of-type {
        grid-column: 1/-1;
        max-width: 160px;
        margin: auto;
      }
    }
  }
}


