.contact-page {
  //  default color settings -----------------------------
  background-color: $green-light; 
  
  .slide-in-menu {
    background-color: $green-light; 
  }

  .menu-body {
    li { background-color: $green; }
  }

  form {
    @include form($green);

    @include bp(md){
      padding-top: 0; 
    }
  }

  .dropdown-body {
    background-color: $green;
  }

  // styling ------------------------------------------
}


