.photography-page {
  background-color: $gray-light;
   .slide-in-menu {
    background-color: $gray-light; 
  }

  .menu-body {
    li { background-color: transparentize($gray, 0.5); }
  }

  .photography-section {
    // .container {
    //   @include bp(sm){
    //     display: grid;
    //     grid-template-columns; 1fr
    //   }
    // }
    img {
      transition: box-shadow 0.5s;
      max-height: 90vh;
      &:hover { box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
    }

    img + img {
      margin-top: 24px;
    }

    @include bp(sm){
      .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 24px;
        grid-row-gap: 36px;
        grid-auto-flow: row dense;
        // align-items: center;
        // justify-content: center;
      }

      .vert { grid-row: 1/span 2; }

      img + img { margin-top: 0; }
    }

    @include bp(md){
      .container {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}