.yoga-page {
  // default cfolor settings -----------------------
  background-color: $orange-light; 

  .slide-in-menu {
    background-color: $orange-light; 
  }

  .menu-body {
    li { background-color: $orange; }
  }

  form {
    @include form($orange);

    @include bp(md){
      padding-top: 0; 
    }
  }

  .dropdown-body {
    background-color: $orange-light;
    border: $orange;
  }

// styling ---------------------------------------------
  .about-section {

    .description {
      border-bottom: 1px solid $black;
      margin-bottom: $base-unit;
      margin-top: 24px; 
      padding-bottom: 16px; 

    }

    .classes h5 {
      font-weight: 500;
    }

    @include bp(sm){
      .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
      }
    }

    @include bp(md){
      .container {
        grid-gap: $base-unit * 6; 
      }
    }
  }

  .reviews-section { 
    .container {
      min-height: 0; 
    }

    h3 { 
      margin-bottom: 24px; 
      font-weight: 500;
      text-align: center;
    }

    @include bp(md){
      h3 { 
        margin-bottom: 0; 
        text-align: left;
      }
    }
  }

  .review {
    border: solid 2px $orange;
    padding: 16px; 
    border-radius: 8px; 

    &-text {
      border-bottom: 1px solid $black;
      padding-bottom: 16px;
    }

    &-attribution {
      margin-top: 8px;
      font-weight: 500px !important;
      display: inline-block;
      font-size: 12px;

      span {
        display: block;
        font-size: 10px; 
      }
    }

    @include bp(sm){
      margin: 0 8px;
    }

    @include bp(md){
      margin: 0 16px; 
    }
  }

  .slick-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px; 
    margin-left: -40px;

    button {
      position: relative; 
      color: transparent;
      margin: 0 8px;

      &:before {
        content: '';
        background-color: transparent;
        border: $orange 2px solid;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        position: absolute;
      }

      &:hover:before {
        background-color: $orange;
      }
    }

    .slick-active button:before {
      background-color: $orange;
    }
  }

  
}