.yoga-page {
  // default cfolor settings -----------------------
  background-color: $orange-light; 

  .slide-in-menu {
    background-color: $orange-light; 
  }

  .menu-body {
    li { background-color: $orange; }
  }

  form {
    @include form($orange);

    @include bp(md){
      padding-top: 0; 
    }
  }

  .review,
  .classes,
  .description {
    @include border($orange);
  }

  .dropdown-body {
    background-color: $orange;
  }

//   // styling ---------------------------------------------

//   .slides {
//     margin-top: 80px;

//     @include bp(md){
//       margin-top: 0; 
//       position: sticky;
//       top: 0;
//     }
//   }

//   // .content .container, 
  

//   .review {
//     margin: 0 24px; 

//     &-text {
//       // font-size: 16px; 
//       font-size: $base-unit; 
//     }

//     &-attribution {
//       // font-size: 12px; 
//       font-size: $base-unit; 
//       font-weight: 400;
//       margin-top: 16px; 
//       display: inline-block;
//     }
//   }

.review {
  @include bp(md){ padding-left: 0; }
}

.slick-list {
  @include bp(md){
     margin-left: $base-unit * 3;
  }
}

  .slick-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px; 

    button {
      position: relative; 
      color: transparent;
      margin: 0 8px;

      &:before {
        content: '';
        background-color: transparent;
        border: $orange 2px solid;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        position: absolute;
      }

      &:hover:before {
        background-color: $orange;
      }
    }

    .slick-active button:before {
      background-color: $orange;
    }

    @include bp(md){ 
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      // top: 50%;
      top: 0;
      left: 0;
      // transform: translateY(-50%);
    }
  }

//   .about-section  {
//     .container { position: relative; }

//     a {
//       // font-size: 20px; 
//       font-size: $base-unit; 
//       font-weight: 400;
//       margin-top: 16px; 
//     }

//     p { margin-top: 16px; }

//     h5 {
//       line-height: 1.33;
//     }

    

//     @include bp(md){
//       .container {
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//         grid-gap: 32px; 
//       }

//       .content { margin-bottom: 0; }
//     }
//   }

//   .offerings {
//     margin-top: 20px;

//     h6 {
//       font-weight: 400;
//       margin-top: 24px;
//       margin-bottom: 0;
//     }

//     p {
//       // font-size: 16px;
//       font-size: $base-unit; 
//       margin-top: 8px; 
//     }

//     a {
//       margin-top: 36px; 
//       display: inline-block;
//       &:hover { text-decoration: underline; }
//     }
//   }

//   form {
//     max-width: 800px;
//     margin: auto;
//   }
}