.yoga-page {
  // default cfolor settings -----------------------
  background-color: $orange-light; 

  .slide-in-menu {
    background-color: $orange-light; 
  }

  .menu-body {
    li { background-color: $orange; }
  }

  form {
    @include form($orange);

    @include bp(md){
      padding-top: 0; 
    }
  }

  .dropdown-body {
    background-color: $orange;
  }

// styling ---------------------------------------------


.review {
  @include bp(md){ padding-left: 0; }
}

.slick-list {
  @include bp(md){
     margin-left: $base-unit * 3;
  }
}

  .slick-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px; 

    button {
      position: relative; 
      color: transparent;
      margin: 0 8px;

      &:before {
        content: '';
        background-color: transparent;
        border: $orange 2px solid;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        position: absolute;
      }

      &:hover:before {
        background-color: $orange;
      }
    }

    .slick-active button:before {
      background-color: $orange;
    }

    @include bp(md){ 
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}