.photography-page {
  // default color settings --------------------
  background-color: $gray-light;

   .slide-in-menu {
    background-color: $gray-light; 
  }

  .menu-body {
    li { background-color: transparentize($gray, 0.5); }
  }

  .dropdown-body {
    background-color: $gray-light;
    border: $gray 1px solid;
  }

  .dropdown-btn { @extend .current; }

  // styling ---------------------------------------------

  .photography-section {
    .container { 
      min-height: 0; 
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 24px;
    }

    img {
      transition: box-shadow 0.5s;
      max-height: 90vh;
      
      &:hover { box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
      &:last-of-type { margin-bottom: 0; }
    }

    img { margin-bottom: 24px; }

    @include bp(sm) {
      .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: $base-unit * 1.5;
        align-items: flex-start;
      }

      img { margin-bottom: 0; }
    }

    @include bp(md){
      .container {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: dense;
      }

      .vert { grid-row: auto /span 2; }
    }
  }

  footer:first-of-type {
    display: none; 

    @include bp(md){ display: block; }
  }
}