{{- $params := .Site.Params }}
<footer>
{{ if .IsHome }}
  {{- $author := $params.author }}
  <h3>{{ $author.name }}</h3>
  <p>{{ $author.title }}</p>
{{ else }}
  <div class='social-links'>
    <a href='mailto:{{ $params.email }}' class='footer-icon'>
      <img src='/img/mail{{ if eq .Type "yoga" }}-orange{{ end }}.svg' class='email ' alt='email' />
    </a>
    <a href='{{ if eq .Type "yoga" }}{{ .Params.instagram_link }}{{ else }}{{ $params.instagram }}{{ end }}' class='footer-icon'>
      <img src='/img/instagram{{ if eq .Type "yoga" }}-orange{{ end }}.svg' class='instagram' alt='instagram' />
    </a>
  </div>
{{ end }}
</footer>