{{ define "main" }}
<section class="rose-menu-wrapper">
  <div class='menu'>
    <img src='/img/rose.png' class='rose-img' alt='rose' />
    <a href="photography?page=portraits" class='link-hero link-portraits'><img src='/img/portraits.svg'  alt='link-hero' /></a>
    <a href="photography?page=movement" class='link-hero link-movement'><img src='/img/movement.svg'  alt='link-hero' /></a>
    <a href="photography?page=occasions" class='link-hero link-occasions'><img src='/img/occasions.svg'  alt='link-hero' /></a>
    <a href="photography?page=lifestyle" class='link-hero link-lifestyle'><img src='/img/lifestyle.svg'  alt='link-hero' /></a>
    <a href="yoga" class='link-hero link-yoga'><img src='/img/yoga.svg'  alt='link-hero' /></a>
    <a href="contact" class='link-hero link-contact'><img src='/img/contact.svg'  alt='link-hero' /></a>
  </div>
</section>
{{ end }}