{{ define "main" }}
<section class="about-section page-section">
  <div class='container'>
    <div class='slides'>
      {{ range .Params.photos }}
      <img src='{{ . }}' class='slide' />
      {{ end }}
    </div>
    <div class="content">
      <div class='content-wrapper'>
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

<section class="features-section page-section small-section">
  <div class="container">
    <h3>{{ .Params.featured_on }}</h3>
    <div class='brands'>
    {{ range .Params.brands }}
      <img src='{{ .source }}' class='brand' />
    {{ end }}
    </div>
  </div>
</section>

<section class='contact-section page-section'>
  <div class='container'>
    <div class='instagram-dt'>
      <script
      src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
      <iframe
      src="https://cdn.lightwidget.com/widgets/636672948c9a544d82c43b910fb2dfa7.html"
      scrolling="no" allowtransparency="true" class="lightwidget-widget"
      style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>

    <div class='instagram-mb'>
      <script
      src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
      <iframe
      src="https://cdn.lightwidget.com/widgets/28fe4a8cd6875019bc3657183830ee89.html"
      scrolling="no" allowtransparency="true" class="lightwidget-widget"
      style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>

    <div class='contact-form' id="contact-form">
      <form action="https://formspree.io/meqrblll" method="POST">
        <input type="text" name="name" placeholder="Name: *" required />
        <input type="email" name="email" placeholder="Email: *" required />
        <input type="text" name="subject" placeholder="Subject:" />
        <textarea name="message" placeholder="Message: *" required></textarea>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
{{ end }}